

.home {
    width: 100%;
    height: 100%;

    &__container {
        display: flex;
        flex-direction: row;

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__body {
        width: calc(100% - 16em);
        height: 100%;
        margin-left: 16em;
        transition: margin-left 0.3s ease;

        @media (max-width: 768px) {
            width: 100%;
            margin-left: 0;
        }
    }

    &__main {
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}